@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/NanumGothicOTF00.woff') format('woff');
    
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    
}
.slider-container {
    position: relative;
    text-align: center;
    width: 400px; /* 슬라이더 너비 조절 */
    margin: 0 auto; /* 화면 가운데 배치 */
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slide {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* 이미지 전환 효과 */
}

.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 16px;
    background: #fff;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
